.obsidian/workspace.json
.obsidian/workspaces.json

.obsidian/plugins/obsidian-image-auto-upload-plugin/data.json

# macOS system files
.DS_Store
**/.DS_Store




# Ignore Smart Environment folder
.smart-env